@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
  
  
  
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
}




/* HERO MAIN CONTAINER */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

/* TILTED BLACK BACKGROUND ON RIGHT SIDE */



